<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lxcblog.mapper.UserMapper">

    <!-- 返回所有用户的信息!-->
    <select id="findAll" resultType="com.example.lxcblog.entity.User">
        select * from user limit 100;
    </select>



    <!--  注册阶段  !-->
    <!-- 查询是否有相同的昵称!-->
    <select id="checkSameNickName" resultType="com.example.lxcblog.entity.User">
        select * from user where nickname = #{nickname} limit 1;
    </select>

    <!-- 查询是否有相同的邮箱!-->
    <select id="checkSameEmail" resultType="com.example.lxcblog.entity.User">
        select * from user where email = #{email} limit 1;
    </select>

    <!-- 查询是否有相同的电话号码!-->
    <select id="checkSamePhone" resultType="com.example.lxcblog.entity.User">
        select * from user where phoneNumber = #{phone} limit 1;
    </select>

    <!-- 查询是否有违禁词!-->
    <select id="checkBannedText" resultType="String">
        select locate(text,#{nickname}) from banned_text limit 1;
    </select>

    <!-- 添加新的用户信息!-->
    <insert id="addUser" parameterType="com.example.lxcblog.entity.User">
        insert into user (email,exp,name,nickname,password,phoneNumber)
        values (#{email} , 0 , #{name} , #{nickname} , #{password} , #{phoneNumber});
    </insert>



    <!--  登录阶段  !-->
    <select id="login" resultType="com.example.lxcblog.entity.User">
        select *from user where phoneNumber = #{name} or email = #{name} or nickname = #{name} and password = #{password}
    </select>

</mapper>

